<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Amount transferred to your wallet, <%= @transaction[:receiver_email] %></h1>
    <p>
      Hi <%= @transaction[:receiver_name] %>, You have been credited with: <%= @transaction[:amount] %>.<br>
    </p>
  </body>
</html>
